<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>YouFO</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	
	</head>
	<body>
		{{{ body }}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>
