<header>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand menu-link" id="login-menu" href="/signup">Login</a>
    <div class="navbar-brand">
      <a id="title" href="/">YouF&#128125;</a>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="search-btn" class="btn my-2 my-sm-0 all-sightings" type="submit" href="/api/sightings">Search</button>
    </form>
  </nav>

</header>

<br>

<div class="container main-container">
  <div class="card mb-3">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8">
        <img src="..." class="card-img" alt="map">
      </div>
      <div id="saved" class="col-12 col-md-6 col-lg-4">
        <div class="card-body">
          <h3 class="card-title">Saved Sightings</h3>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <p class="card-text"><small class="text-muted">Your planet is next!</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- <div class="text-center">
      <h4 style="margin: 0;" class="text-center">UFO Articles</h4>
    </div>

    <hr>

    <div class="container">
      <div class="row">


        <div class="large-8 cell" style="border-right: 1px solid #E3E5E8;">


          <div class="grid-x grid-margin-x">
            <div class="large-6 cell">
              <p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article"
                  alt="article preview image"></p>
            </div>
            <div class="large-6 cell">
              <h5><a href="#">'Death Star' Vaporizes Its Own Planet</a></h5>
              <p>
                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                <span><i class="fi-comments"> 6 comments</i></span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
                aperiam nesciunt magni facilis ullam.</p>
            </div>
          </div>

          <hr>

          <div class="grid-x grid-margin-x">
            <div class="large-6 cell">
              <p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article"
                  alt="article preview image"></p>
            </div>
            <div class="large-6 cell">
              <h5><a href="#">NASA's SLS Rocket Sheds Saturn V Color Scheme in Design Review</a></h5>
              <p>
                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                <span><i class="fi-comments"> 6 comments</i></span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
                aperiam nesciunt magni facilis ullam.</p>
            </div>
          </div>

          <hr>

          <div class="grid-x grid-margin-x">
            <div class="large-6 cell">
              <p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article"
                  alt="article preview image"></p>
            </div>
            <div class="large-6 cell">
              <h5><a href="#">Ingredients for Life Were Always Present on Earth, Comet Suggests</a></h5>
              <p>
                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                <span><i class="fi-comments"> 6 comments</i></span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
                aperiam nesciunt magni facilis ullam.</p>
            </div>
          </div>

          <hr>

          <div class="grid-x grid-margin-x">
            <div class="large-6 cell">
              <p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article"
                  alt="article preview image"></p>
            </div>
            <div class="large-6 cell">
              <h5><a href="#">Astronaut's Watch Worn on the Moon Sells for Record $1.6 Million</a></h5>
              <p>
                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                <span><i class="fi-comments"> 6 comments</i></span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
                aperiam nesciunt magni facilis ullam.</p>
            </div>
          </div>

          <hr>

          <div class="grid-x grid-margin-x">
            <div class="large-6 cell">
              <p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article"
                  alt="article preview image"></p>
            </div>
            <div class="large-6 cell">
              <h5><a href="#">Interstellar Dust on the Galaxy's Magnetic Field | Space Wallpaper</a></h5>
              <p>
                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                <span><i class="fi-comments"> 6 comments</i></span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
                aperiam nesciunt magni facilis ullam.</p>
            </div>
          </div>

          <hr>

          <div class="grid-x grid-margin-x">
            <div class="large-6 cell">
              <p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article"
                  alt="article preview image"></p>
            </div>
            <div class="large-6 cell">
              <h5><a href="#">Explore the Moon (Virtually) with These Awesome Global Maps</a></h5>
              <p>
                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                <span><i class="fi-comments"> 6 comments</i></span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
                aperiam nesciunt magni facilis ullam.</p>
            </div>
          </div>

          <hr>

          <div class="grid-x grid-margin-x">
            <div class="large-6 cell">
              <p><img src="https://placehold.it/600x370&text=Look at me!" alt="image for article"
                  alt="article preview image"></p>
            </div>
            <div class="large-6 cell">
              <h5><a href="#">Best Space Books and Sci-Fi: A Space.com Reading List</a></h5>
              <p>
                <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                <span><i class="fi-comments"> 6 comments</i></span>
              </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus
                aperiam nesciunt magni facilis ullam.</p>
            </div>
          </div>

          <hr>

          <ul class="pagination margin-bottom-2" role="navigation" aria-label="Pagination">
            <li class="disabled">Previous <span class="show-for-sr">page</span></li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a href="#" aria-label="Page 3">3</a></li>
            <li><a href="#" aria-label="Page 4">4</a></li>
            <li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
          </ul>

        </div>
        <div class="grid-x large-4 cell">

          <aside>

            <div class="grid-x small-up-3">

              <div class="cell text-center">
                <i class="fi-social-facebook"></i>
                <h6>56,009</h6>
                <p><small>FOLLOWERS</small></p>
                <br>
              </div>

              <div class="cell text-center">
                <i class="fi-social-twitter"></i>
                <h6>76,905</h6>
                <p><small>FOLLOWERS</small></p>
                <br>
              </div>

              <div class="cell text-center">
                <i class="fi-social-instagram"></i>
                <h6>34,099</h6>
                <p><small>FOLLOWERS</small></p>
                <br>
              </div>

              <div class="cell text-center">
                <i class="fi-social-tumblr"></i>
                <h6>13,765</h6>
                <p><small>FOLLOWERS</small></p>
              </div>

              <div class="cell text-center">
                <i class="fi-social-youtube"></i>
                <h6>99,000</h6>
                <p><small>FOLLOWERS</small></p>
              </div>

            </div>

            <br>

            <div class="grid-x cell">
              <p class="lead">UFO Merch</p>
              <p><img src="https://placehold.it/400x300&text=Buy Me!" alt="advertisement of ShamWow"></p>
            </div>

            <br>

            <div class="grid-x cell">
              <p class="lead">UFO Merch Links</p>

              <div class="media-object">
                <div class="media-object-section">
                  <img class="thumbnail" src="https://placehold.it/100">
                </div>
                <div class="media-object-section">
                  <h5>All I need is a space suit and I'm ready to go.</h5>
                </div>
              </div>

              <div class="media-object">
                <div class="media-object-section">
                  <img class="thumbnail" src="https://placehold.it/100">
                </div>
                <div class="media-object-section">
                  <h5>Are the stars out tonight? I don't know if it's cloudy or bright.</h5>
                </div>
              </div>

              <div class="media-object">
                <div class="media-object-section">
                  <img class="thumbnail" src="https://placehold.it/100">
                </div>
                <div class="media-object-section">
                  <h5>And the world keeps spinning.</h5>
                </div>
              </div>

              <div class="media-object">
                <div class="media-object-section">
                  <img class="thumbnail" src="https://placehold.it/100">
                </div>
                <div class="media-object-section">
                  <h5>Cold hearted orb that rules the night.</h5>
                </div>
              </div>

            </div>

          </aside>

        </div>
      </div>
      </article>
 --}}

<footer>

</footer>



<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
<script>
  $(document).foundation();
</script>