<header>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand menu-link" id="login-menu" href="/signup">Login</a>
    <div class="navbar-brand">
      <a id="title" href="/">YouF&#128125;</a>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="search-btn" class="btn my-2 my-sm-0 all-sightings" type="submit" href="/api/sightings">Search</button>
    </form>
  </nav>

</header>

<br>

<div class="container main-container">
  <div class="card mb-3">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8">
        <div id = 'map'></div>
      </div>
      
      <div id="saved" class="col-12 col-md-6 col-lg-4">
        <div class="card-body">
          <h3 class="card-title">Saved Sightings</h3>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <hr>
          <p class="sighting-name">
            Sighting 1, Oval.
            <button id="delete-btn" class="btn float-right btn-warning">
              Delete
            </button>
          </p>
          <p class="sighting-location">
            Mumbai, India. 12/13/1989
          </p>
          <hr>
          <p class="card-text"><small class="text-muted">Your planet is next!</small></p>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>

</footer>

</script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
<script>
  $(document).foundation();
</script>