/*icon styles*/
#saved {
  overflow-y: auto;
  height: 300px;
}
.fi-social-facebook {
  color: dodgerblue;
  font-size: 2rem;
}
.fi-social-youtube {
  color: red;
  font-size: 2rem;
}
.fi-social-pinterest {
  color: darkred;
  font-size: 2rem;
}
i.fi-social-instagram {
  color: brown;
  font-size: 2rem;
}
i.fi-social-tumblr {
  color: navy;
  font-size: 2rem;
}
.fi-social-twitter {
  color: skyblue;
  font-size: 2rem;
}

#login-menu {
  align-self: left;
}

body{
  background-image: url(/assets/css/images/space.jpg)
}
.grid-container {
  background-color: aliceblue;
}
.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color:rgb(177, 244, 77);
}
