/*icon styles*/
#saved {
  overflow-y: auto;
  height: 300px;
}
.fi-social-facebook {
  color: dodgerblue;
  font-size: 2rem;
}
.fi-social-youtube {
  color: red;
  font-size: 2rem;
}
.fi-social-pinterest {
  color: darkred;
  font-size: 2rem;
}
i.fi-social-instagram {
  color: brown;
  font-size: 2rem;
}
i.fi-social-tumblr {
  color: navy;
  font-size: 2rem;
}
.fi-social-twitter {
  color: skyblue;
  font-size: 2rem;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1920px 1003px #fff, 660px 1052px #fff, 1914px 1717px #fff,
    1161px 1720px #fff, 947px 873px #fff, 899px 622px #fff, 505px 468px #fff,
    778px 823px #fff, 533px 1851px #fff, 1358px 911px #fff, 861px 1373px #fff,
    1098px 804px #fff, 1670px 1763px #fff, 1301px 1358px #fff, 1878px 338px #fff,
    641px 1658px #fff, 1734px 628px #fff, 1948px 1315px #fff, 17px 35px #fff,
    845px 1036px #fff, 1339px 461px #fff, 1296px 1947px #fff, 640px 1468px #fff,
    800px 549px #fff, 1846px 1986px #fff, 449px 217px #fff, 1630px 63px #fff,
    582px 8px #fff, 1231px 1576px #fff, 807px 993px #fff, 624px 806px #fff,
    63px 1157px #fff, 1763px 788px #fff, 1944px 625px #fff, 1281px 418px #fff,
    1744px 1833px #fff, 345px 642px #fff, 512px 677px #fff, 830px 1795px #fff,
    644px 1968px #fff, 1511px 186px #fff, 1747px 1752px #fff, 1801px 52px #fff,
    952px 1553px #fff, 842px 1408px #fff, 1935px 735px #fff, 157px 1872px #fff,
    233px 1058px #fff, 1649px 486px #fff, 1625px 549px #fff, 794px 410px #fff,
    1112px 1024px #fff, 951px 35px #fff, 1085px 775px #fff, 1815px 1832px #fff,
    1690px 1038px #fff, 910px 1912px #fff, 1471px 202px #fff, 1840px 1080px #fff,
    1590px 1676px #fff, 138px 1361px #fff, 978px 835px #fff, 937px 1678px #fff,
    1069px 1518px #fff, 1025px 1082px #fff, 1878px 876px #fff, 937px 1514px #fff,
    1653px 1248px #fff, 1788px 497px #fff, 1596px 1819px #fff, 663px 415px #fff,
    69px 335px #fff, 452px 634px #fff, 460px 677px #fff, 1243px 1811px #fff,
    801px 790px #fff, 602px 1393px #fff, 1896px 956px #fff, 1308px 797px #fff,
    1173px 607px #fff, 1787px 989px #fff, 414px 1388px #fff, 1953px 1026px #fff,
    1587px 285px #fff, 1275px 1140px #fff, 1915px 1516px #fff, 953px 1574px #fff,
    872px 193px #fff, 1926px 283px #fff, 919px 1713px #fff, 1980px 819px #fff,
    1571px 958px #fff, 738px 781px #fff, 707px 768px #fff, 879px 442px #fff,
    1796px 1647px #fff, 1530px 836px #fff, 1191px 1490px #fff, 754px 781px #fff,
    1620px 1904px #fff, 1523px 289px #fff, 1168px 1561px #fff,
    1233px 1612px #fff, 772px 563px #fff, 525px 1601px #fff, 1385px 220px #fff,
    1778px 1505px #fff, 1358px 1927px #fff, 995px 832px #fff, 1746px 1417px #fff,
    391px 857px #fff, 1296px 1595px #fff, 1332px 1821px #fff, 796px 1489px #fff,
    198px 1686px #fff, 432px 1733px #fff, 537px 1878px #fff, 1190px 136px #fff,
    1480px 1389px #fff, 1027px 581px #fff, 1852px 1546px #fff, 1628px 445px #fff,
    1772px 1702px #fff, 309px 1805px #fff, 709px 822px #fff, 922px 506px #fff,
    1167px 233px #fff, 917px 370px #fff, 933px 521px #fff, 1626px 1815px #fff,
    656px 1341px #fff, 38px 1392px #fff, 482px 129px #fff, 947px 295px #fff,
    1489px 1839px #fff, 646px 664px #fff, 727px 1442px #fff, 1422px 1462px #fff,
    1347px 545px #fff, 141px 1470px #fff, 840px 1890px #fff, 751px 158px #fff,
    1122px 672px #fff, 499px 928px #fff, 1469px 796px #fff, 513px 709px #fff,
    371px 87px #fff, 1084px 1705px #fff, 1518px 1725px #fff, 833px 413px #fff,
    1172px 1689px #fff, 1456px 1212px #fff, 215px 1883px #fff,
    1646px 1317px #fff, 1641px 277px #fff, 1472px 524px #fff, 1788px 1922px #fff,
    1699px 1754px #fff, 780px 470px #fff, 1970px 1663px #fff, 527px 922px #fff,
    558px 1792px #fff, 752px 436px #fff, 1498px 1143px #fff, 95px 1486px #fff,
    1481px 648px #fff, 1834px 1695px #fff, 143px 1013px #fff, 417px 1378px #fff,
    265px 1899px #fff, 693px 1588px #fff, 1247px 930px #fff, 87px 1886px #fff,
    1692px 1737px #fff, 1362px 1926px #fff, 629px 1153px #fff, 855px 890px #fff,
    470px 1067px #fff, 1957px 611px #fff, 1273px 802px #fff, 1769px 1881px #fff,
    1699px 140px #fff, 802px 1338px #fff, 1221px 108px #fff, 117px 1274px #fff,
    251px 1700px #fff, 207px 1743px #fff, 746px 274px #fff, 619px 1454px #fff,
    542px 1883px #fff, 410px 1435px #fff, 330px 1311px #fff, 1983px 574px #fff,
    45px 1272px #fff, 1007px 1631px #fff, 1979px 750px #fff, 1556px 1220px #fff,
    718px 1949px #fff, 47px 1492px #fff, 1351px 1453px #fff, 444px 771px #fff,
    1274px 1626px #fff, 1613px 1355px #fff, 1039px 255px #fff, 1670px 960px #fff,
    302px 717px #fff, 225px 608px #fff, 884px 905px #fff, 1387px 1367px #fff,
    646px 1591px #fff, 730px 619px #fff, 1096px 1360px #fff, 1873px 276px #fff,
    1231px 679px #fff, 1133px 1918px #fff, 904px 889px #fff, 1627px 1095px #fff,
    988px 63px #fff, 1011px 1554px #fff, 1128px 1461px #fff, 842px 262px #fff,
    941px 1763px #fff, 1502px 1519px #fff, 1552px 1443px #fff, 883px 593px #fff,
    1570px 1916px #fff, 1349px 1510px #fff, 196px 1112px #fff,
    1037px 1306px #fff, 909px 975px #fff, 1051px 257px #fff, 273px 1302px #fff,
    1204px 817px #fff, 12px 1437px #fff, 1723px 317px #fff, 1664px 1399px #fff,
    824px 1188px #fff, 1168px 1559px #fff, 1318px 59px #fff, 665px 1987px #fff,
    1907px 525px #fff, 1911px 1150px #fff, 670px 269px #fff, 693px 1877px #fff,
    1637px 1535px #fff, 1229px 142px #fff, 1307px 1108px #fff, 675px 1978px #fff,
    1281px 1059px #fff, 1440px 1414px #fff, 873px 473px #fff, 1845px 1797px #fff,
    523px 1159px #fff, 1107px 395px #fff, 1686px 1071px #fff, 125px 1557px #fff,
    1766px 785px #fff, 1884px 1914px #fff, 172px 1832px #fff, 1678px 1810px #fff,
    1986px 1511px #fff, 1178px 487px #fff, 428px 415px #fff, 1725px 1275px #fff,
    743px 1405px #fff, 822px 30px #fff, 1344px 407px #fff, 1876px 334px #fff,
    719px 1083px #fff, 1780px 409px #fff, 1329px 711px #fff, 389px 576px #fff,
    1279px 958px #fff, 1550px 578px #fff, 1452px 771px #fff, 299px 1380px #fff,
    66px 1041px #fff, 1576px 787px #fff, 1816px 350px #fff, 1349px 918px #fff,
    429px 1418px #fff, 246px 1919px #fff, 1033px 1909px #fff, 1764px 794px #fff,
    1426px 72px #fff, 1304px 913px #fff, 1621px 85px #fff, 1285px 1889px #fff,
    635px 372px #fff, 697px 1059px #fff, 1314px 1000px #fff, 520px 1332px #fff,
    197px 1234px #fff, 1771px 54px #fff, 637px 1109px #fff, 1610px 1597px #fff,
    1141px 68px #fff, 1695px 492px #fff, 796px 945px #fff, 969px 1136px #fff,
    1220px 1140px #fff, 1104px 156px #fff, 1061px 1996px #fff, 124px 896px #fff,
    1207px 1544px #fff, 572px 517px #fff, 585px 914px #fff, 774px 826px #fff,
    637px 1146px #fff, 34px 1981px #fff, 1234px 455px #fff, 162px 1594px #fff,
    931px 1255px #fff, 439px 1848px #fff, 1757px 725px #fff, 1181px 1417px #fff,
    1838px 390px #fff, 136px 1886px #fff, 1459px 1772px #fff, 1208px 1580px #fff,
    779px 990px #fff, 910px 129px #fff, 1912px 1732px #fff, 1266px 239px #fff,
    1271px 290px #fff, 486px 1143px #fff, 1310px 835px #fff, 1055px 1709px #fff,
    87px 365px #fff, 1375px 366px #fff, 1188px 962px #fff, 1339px 531px #fff,
    180px 1995px #fff, 783px 1308px #fff, 567px 416px #fff, 403px 768px #fff,
    1328px 455px #fff, 633px 885px #fff, 62px 544px #fff, 736px 1103px #fff,
    1349px 1605px #fff, 1842px 295px #fff, 1791px 1573px #fff, 469px 712px #fff,
    718px 27px #fff, 386px 1610px #fff, 1110px 1732px #fff, 1845px 1174px #fff,
    187px 1255px #fff, 698px 1649px #fff, 44px 1713px #fff, 629px 1883px #fff,
    705px 1846px #fff, 472px 744px #fff, 975px 1699px #fff, 229px 1444px #fff,
    1549px 1628px #fff, 1754px 194px #fff, 1392px 1256px #fff, 303px 1089px #fff,
    1004px 1701px #fff, 1304px 180px #fff, 1839px 969px #fff, 625px 1548px #fff,
    1834px 1573px #fff, 828px 688px #fff, 483px 18px #fff, 1411px 1184px #fff,
    1776px 910px #fff, 942px 1847px #fff, 374px 1024px #fff, 757px 209px #fff,
    339px 174px #fff, 1122px 413px #fff, 1748px 213px #fff, 724px 183px #fff,
    204px 554px #fff, 1546px 985px #fff, 921px 618px #fff, 498px 60px #fff,
    1740px 808px #fff, 942px 1429px #fff, 550px 1614px #fff, 1038px 1377px #fff,
    142px 122px #fff, 1805px 1711px #fff, 1980px 823px #fff, 897px 1905px #fff,
    1119px 267px #fff, 130px 253px #fff, 1273px 384px #fff, 1379px 1126px #fff,
    874px 1477px #fff, 1573px 463px #fff, 415px 1545px #fff, 1297px 630px #fff,
    81px 158px #fff, 1490px 225px #fff, 589px 1111px #fff, 1611px 875px #fff,
    923px 389px #fff, 142px 1488px #fff, 1151px 716px #fff, 1249px 1941px #fff,
    636px 1783px #fff, 1207px 143px #fff, 523px 411px #fff, 595px 934px #fff,
    544px 896px #fff, 733px 69px #fff, 253px 1192px #fff, 182px 381px #fff,
    915px 1650px #fff, 453px 947px #fff, 55px 187px #fff, 1733px 1488px #fff,
    1059px 913px #fff, 1499px 1144px #fff, 1372px 1671px #fff, 680px 1209px #fff,
    1904px 1237px #fff, 279px 1299px #fff, 452px 1810px #fff, 1481px 140px #fff,
    156px 1px #fff, 506px 814px #fff, 1292px 525px #fff, 642px 93px #fff,
    699px 1544px #fff, 19px 1743px #fff, 1253px 773px #fff, 1498px 1765px #fff,
    410px 1351px #fff, 1867px 1861px #fff, 135px 1364px #fff, 222px 850px #fff,
    1239px 223px #fff, 419px 1300px #fff, 997px 1435px #fff, 377px 1462px #fff,
    1497px 282px #fff, 1294px 755px #fff, 813px 1366px #fff, 1902px 1291px #fff,
    91px 899px #fff, 804px 45px #fff, 1077px 1208px #fff, 752px 318px #fff,
    1100px 319px #fff, 1568px 1570px #fff, 781px 1344px #fff, 1788px 656px #fff,
    959px 512px #fff, 1144px 1304px #fff, 16px 1157px #fff, 448px 1272px #fff,
    559px 1404px #fff, 1621px 1972px #fff, 1715px 35px #fff, 759px 1372px #fff,
    405px 1479px #fff, 1993px 1679px #fff, 1320px 606px #fff, 12px 1064px #fff,
    397px 1301px #fff, 179px 229px #fff, 1139px 1802px #fff, 224px 258px #fff,
    484px 1190px #fff, 1288px 1321px #fff, 895px 1331px #fff, 1024px 1411px #fff,
    1769px 1305px #fff, 1008px 160px #fff, 761px 450px #fff, 958px 1861px #fff,
    1158px 246px #fff, 431px 1878px #fff, 595px 1292px #fff, 542px 1904px #fff,
    587px 743px #fff, 1089px 987px #fff, 217px 1633px #fff, 339px 22px #fff,
    61px 1739px #fff, 1819px 1130px #fff, 1981px 369px #fff, 696px 1924px #fff,
    14px 587px #fff, 1739px 1599px #fff, 1359px 1731px #fff, 554px 1346px #fff,
    461px 290px #fff, 1893px 1389px #fff, 1472px 113px #fff, 189px 1107px #fff,
    192px 512px #fff, 1937px 949px #fff, 338px 1629px #fff, 1091px 1593px #fff,
    626px 426px #fff, 1804px 444px #fff, 1427px 294px #fff, 1889px 58px #fff,
    147px 1053px #fff, 1608px 857px #fff, 1631px 423px #fff, 635px 618px #fff,
    162px 1989px #fff, 980px 341px #fff, 115px 87px #fff, 257px 366px #fff,
    1899px 565px #fff, 1813px 1396px #fff, 932px 1113px #fff, 925px 953px #fff,
    1625px 192px #fff, 1301px 253px #fff, 437px 579px #fff, 469px 555px #fff,
    36px 732px #fff, 1109px 721px #fff, 847px 1888px #fff, 147px 1265px #fff,
    218px 791px #fff, 792px 1498px #fff, 1357px 1958px #fff, 499px 1481px #fff,
    418px 756px #fff, 1321px 932px #fff, 129px 1378px #fff, 87px 1723px #fff,
    1603px 479px #fff, 818px 1887px #fff, 406px 224px #fff, 1200px 1308px #fff,
    1448px 969px #fff, 1685px 569px #fff, 1035px 1355px #fff, 1023px 87px #fff,
    533px 301px #fff, 929px 1464px #fff, 791px 1619px #fff, 1405px 1431px #fff,
    1547px 1919px #fff, 608px 1192px #fff, 1454px 1123px #fff, 1274px 745px #fff,
    1794px 475px #fff, 1488px 121px #fff, 1468px 735px #fff, 1165px 915px #fff,
    4px 174px #fff, 1906px 452px #fff, 908px 1897px #fff, 319px 1936px #fff,
    1850px 314px #fff, 1692px 1959px #fff, 536px 1801px #fff, 577px 208px #fff,
    1368px 1180px #fff, 390px 1883px #fff, 542px 1522px #fff, 474px 330px #fff,
    1932px 1952px #fff, 906px 1874px #fff, 149px 1403px #fff, 544px 1152px #fff,
    1332px 338px #fff, 88px 349px #fff, 1410px 573px #fff, 99px 584px #fff,
    1112px 755px #fff, 966px 757px #fff, 1291px 1831px #fff, 140px 1053px #fff,
    1439px 68px #fff, 1081px 1487px #fff, 368px 1837px #fff, 1042px 323px #fff,
    1427px 138px #fff, 1028px 1715px #fff, 803px 277px #fff, 806px 1994px #fff,
    979px 305px #fff, 162px 1657px #fff, 1935px 1735px #fff, 555px 377px #fff,
    1624px 96px #fff, 1578px 1777px #fff, 774px 266px #fff, 23px 225px #fff,
    615px 1884px #fff, 1084px 482px #fff, 1990px 571px #fff, 1378px 416px #fff,
    491px 1153px #fff, 1272px 655px #fff, 1666px 869px #fff, 1685px 601px #fff,
    1256px 535px #fff, 1650px 1878px #fff, 1931px 81px #fff, 451px 1248px #fff,
    525px 1393px #fff, 695px 227px #fff, 1462px 961px #fff, 88px 1251px #fff,
    10px 1100px #fff, 487px 1878px #fff, 1093px 68px #fff, 812px 482px #fff,
    1944px 608px #fff, 1415px 944px #fff, 405px 1475px #fff, 707px 291px #fff,
    1509px 162px #fff, 515px 786px #fff, 1632px 1282px #fff, 644px 598px #fff,
    1621px 1252px #fff, 701px 719px #fff, 74px 169px #fff, 1962px 1622px #fff,
    1743px 746px #fff, 441px 1095px #fff, 124px 418px #fff, 576px 1055px #fff,
    1356px 1145px #fff, 1202px 1634px #fff, 231px 1763px #fff,
    1716px 1097px #fff, 1991px 333px #fff, 1502px 1942px #fff, 203px 251px #fff,
    915px 557px #fff, 1446px 906px #fff, 1360px 803px #fff, 896px 591px #fff,
    392px 1320px #fff, 739px 1303px #fff, 10px 410px #fff, 1675px 28px #fff,
    1016px 1642px #fff, 1101px 301px #fff, 253px 1118px #fff, 1238px 1740px #fff,
    1715px 1413px #fff, 1023px 602px #fff, 994px 375px #fff, 1832px 1594px #fff,
    1679px 1298px #fff, 1116px 1694px #fff, 208px 548px #fff, 518px 79px #fff,
    1640px 6px #fff, 350px 1146px #fff, 1252px 1635px #fff, 805px 796px #fff,
    1315px 198px #fff, 653px 1796px #fff, 1431px 364px #fff, 913px 975px #fff,
    1855px 213px #fff, 88px 833px #fff, 1434px 182px #fff, 1168px 742px #fff,
    1935px 889px #fff, 1921px 1814px #fff, 1760px 1053px #fff, 1470px 221px #fff,
    413px 1649px #fff, 1466px 459px #fff, 1728px 503px #fff, 86px 727px #fff,
    1800px 1080px #fff, 1380px 1486px #fff, 842px 1022px #fff, 1151px 257px #fff,
    1335px 1915px #fff, 1152px 1826px #fff, 839px 1713px #fff, 937px 245px #fff,
    1636px 650px #fff, 1914px 995px #fff, 1914px 1621px #fff, 688px 756px #fff,
    1726px 1996px #fff, 1362px 990px #fff, 1656px 367px #fff, 1744px 1000px #fff,
    265px 689px #fff, 1964px 704px #fff, 1092px 292px #fff, 1110px 681px #fff,
    838px 1315px #fff, 1237px 605px #fff, 1544px 1091px #fff, 1819px 78px #fff,
    103px 1673px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1920px 1003px #fff, 660px 1052px #fff, 1914px 1717px #fff,
    1161px 1720px #fff, 947px 873px #fff, 899px 622px #fff, 505px 468px #fff,
    778px 823px #fff, 533px 1851px #fff, 1358px 911px #fff, 861px 1373px #fff,
    1098px 804px #fff, 1670px 1763px #fff, 1301px 1358px #fff, 1878px 338px #fff,
    641px 1658px #fff, 1734px 628px #fff, 1948px 1315px #fff, 17px 35px #fff,
    845px 1036px #fff, 1339px 461px #fff, 1296px 1947px #fff, 640px 1468px #fff,
    800px 549px #fff, 1846px 1986px #fff, 449px 217px #fff, 1630px 63px #fff,
    582px 8px #fff, 1231px 1576px #fff, 807px 993px #fff, 624px 806px #fff,
    63px 1157px #fff, 1763px 788px #fff, 1944px 625px #fff, 1281px 418px #fff,
    1744px 1833px #fff, 345px 642px #fff, 512px 677px #fff, 830px 1795px #fff,
    644px 1968px #fff, 1511px 186px #fff, 1747px 1752px #fff, 1801px 52px #fff,
    952px 1553px #fff, 842px 1408px #fff, 1935px 735px #fff, 157px 1872px #fff,
    233px 1058px #fff, 1649px 486px #fff, 1625px 549px #fff, 794px 410px #fff,
    1112px 1024px #fff, 951px 35px #fff, 1085px 775px #fff, 1815px 1832px #fff,
    1690px 1038px #fff, 910px 1912px #fff, 1471px 202px #fff, 1840px 1080px #fff,
    1590px 1676px #fff, 138px 1361px #fff, 978px 835px #fff, 937px 1678px #fff,
    1069px 1518px #fff, 1025px 1082px #fff, 1878px 876px #fff, 937px 1514px #fff,
    1653px 1248px #fff, 1788px 497px #fff, 1596px 1819px #fff, 663px 415px #fff,
    69px 335px #fff, 452px 634px #fff, 460px 677px #fff, 1243px 1811px #fff,
    801px 790px #fff, 602px 1393px #fff, 1896px 956px #fff, 1308px 797px #fff,
    1173px 607px #fff, 1787px 989px #fff, 414px 1388px #fff, 1953px 1026px #fff,
    1587px 285px #fff, 1275px 1140px #fff, 1915px 1516px #fff, 953px 1574px #fff,
    872px 193px #fff, 1926px 283px #fff, 919px 1713px #fff, 1980px 819px #fff,
    1571px 958px #fff, 738px 781px #fff, 707px 768px #fff, 879px 442px #fff,
    1796px 1647px #fff, 1530px 836px #fff, 1191px 1490px #fff, 754px 781px #fff,
    1620px 1904px #fff, 1523px 289px #fff, 1168px 1561px #fff,
    1233px 1612px #fff, 772px 563px #fff, 525px 1601px #fff, 1385px 220px #fff,
    1778px 1505px #fff, 1358px 1927px #fff, 995px 832px #fff, 1746px 1417px #fff,
    391px 857px #fff, 1296px 1595px #fff, 1332px 1821px #fff, 796px 1489px #fff,
    198px 1686px #fff, 432px 1733px #fff, 537px 1878px #fff, 1190px 136px #fff,
    1480px 1389px #fff, 1027px 581px #fff, 1852px 1546px #fff, 1628px 445px #fff,
    1772px 1702px #fff, 309px 1805px #fff, 709px 822px #fff, 922px 506px #fff,
    1167px 233px #fff, 917px 370px #fff, 933px 521px #fff, 1626px 1815px #fff,
    656px 1341px #fff, 38px 1392px #fff, 482px 129px #fff, 947px 295px #fff,
    1489px 1839px #fff, 646px 664px #fff, 727px 1442px #fff, 1422px 1462px #fff,
    1347px 545px #fff, 141px 1470px #fff, 840px 1890px #fff, 751px 158px #fff,
    1122px 672px #fff, 499px 928px #fff, 1469px 796px #fff, 513px 709px #fff,
    371px 87px #fff, 1084px 1705px #fff, 1518px 1725px #fff, 833px 413px #fff,
    1172px 1689px #fff, 1456px 1212px #fff, 215px 1883px #fff,
    1646px 1317px #fff, 1641px 277px #fff, 1472px 524px #fff, 1788px 1922px #fff,
    1699px 1754px #fff, 780px 470px #fff, 1970px 1663px #fff, 527px 922px #fff,
    558px 1792px #fff, 752px 436px #fff, 1498px 1143px #fff, 95px 1486px #fff,
    1481px 648px #fff, 1834px 1695px #fff, 143px 1013px #fff, 417px 1378px #fff,
    265px 1899px #fff, 693px 1588px #fff, 1247px 930px #fff, 87px 1886px #fff,
    1692px 1737px #fff, 1362px 1926px #fff, 629px 1153px #fff, 855px 890px #fff,
    470px 1067px #fff, 1957px 611px #fff, 1273px 802px #fff, 1769px 1881px #fff,
    1699px 140px #fff, 802px 1338px #fff, 1221px 108px #fff, 117px 1274px #fff,
    251px 1700px #fff, 207px 1743px #fff, 746px 274px #fff, 619px 1454px #fff,
    542px 1883px #fff, 410px 1435px #fff, 330px 1311px #fff, 1983px 574px #fff,
    45px 1272px #fff, 1007px 1631px #fff, 1979px 750px #fff, 1556px 1220px #fff,
    718px 1949px #fff, 47px 1492px #fff, 1351px 1453px #fff, 444px 771px #fff,
    1274px 1626px #fff, 1613px 1355px #fff, 1039px 255px #fff, 1670px 960px #fff,
    302px 717px #fff, 225px 608px #fff, 884px 905px #fff, 1387px 1367px #fff,
    646px 1591px #fff, 730px 619px #fff, 1096px 1360px #fff, 1873px 276px #fff,
    1231px 679px #fff, 1133px 1918px #fff, 904px 889px #fff, 1627px 1095px #fff,
    988px 63px #fff, 1011px 1554px #fff, 1128px 1461px #fff, 842px 262px #fff,
    941px 1763px #fff, 1502px 1519px #fff, 1552px 1443px #fff, 883px 593px #fff,
    1570px 1916px #fff, 1349px 1510px #fff, 196px 1112px #fff,
    1037px 1306px #fff, 909px 975px #fff, 1051px 257px #fff, 273px 1302px #fff,
    1204px 817px #fff, 12px 1437px #fff, 1723px 317px #fff, 1664px 1399px #fff,
    824px 1188px #fff, 1168px 1559px #fff, 1318px 59px #fff, 665px 1987px #fff,
    1907px 525px #fff, 1911px 1150px #fff, 670px 269px #fff, 693px 1877px #fff,
    1637px 1535px #fff, 1229px 142px #fff, 1307px 1108px #fff, 675px 1978px #fff,
    1281px 1059px #fff, 1440px 1414px #fff, 873px 473px #fff, 1845px 1797px #fff,
    523px 1159px #fff, 1107px 395px #fff, 1686px 1071px #fff, 125px 1557px #fff,
    1766px 785px #fff, 1884px 1914px #fff, 172px 1832px #fff, 1678px 1810px #fff,
    1986px 1511px #fff, 1178px 487px #fff, 428px 415px #fff, 1725px 1275px #fff,
    743px 1405px #fff, 822px 30px #fff, 1344px 407px #fff, 1876px 334px #fff,
    719px 1083px #fff, 1780px 409px #fff, 1329px 711px #fff, 389px 576px #fff,
    1279px 958px #fff, 1550px 578px #fff, 1452px 771px #fff, 299px 1380px #fff,
    66px 1041px #fff, 1576px 787px #fff, 1816px 350px #fff, 1349px 918px #fff,
    429px 1418px #fff, 246px 1919px #fff, 1033px 1909px #fff, 1764px 794px #fff,
    1426px 72px #fff, 1304px 913px #fff, 1621px 85px #fff, 1285px 1889px #fff,
    635px 372px #fff, 697px 1059px #fff, 1314px 1000px #fff, 520px 1332px #fff,
    197px 1234px #fff, 1771px 54px #fff, 637px 1109px #fff, 1610px 1597px #fff,
    1141px 68px #fff, 1695px 492px #fff, 796px 945px #fff, 969px 1136px #fff,
    1220px 1140px #fff, 1104px 156px #fff, 1061px 1996px #fff, 124px 896px #fff,
    1207px 1544px #fff, 572px 517px #fff, 585px 914px #fff, 774px 826px #fff,
    637px 1146px #fff, 34px 1981px #fff, 1234px 455px #fff, 162px 1594px #fff,
    931px 1255px #fff, 439px 1848px #fff, 1757px 725px #fff, 1181px 1417px #fff,
    1838px 390px #fff, 136px 1886px #fff, 1459px 1772px #fff, 1208px 1580px #fff,
    779px 990px #fff, 910px 129px #fff, 1912px 1732px #fff, 1266px 239px #fff,
    1271px 290px #fff, 486px 1143px #fff, 1310px 835px #fff, 1055px 1709px #fff,
    87px 365px #fff, 1375px 366px #fff, 1188px 962px #fff, 1339px 531px #fff,
    180px 1995px #fff, 783px 1308px #fff, 567px 416px #fff, 403px 768px #fff,
    1328px 455px #fff, 633px 885px #fff, 62px 544px #fff, 736px 1103px #fff,
    1349px 1605px #fff, 1842px 295px #fff, 1791px 1573px #fff, 469px 712px #fff,
    718px 27px #fff, 386px 1610px #fff, 1110px 1732px #fff, 1845px 1174px #fff,
    187px 1255px #fff, 698px 1649px #fff, 44px 1713px #fff, 629px 1883px #fff,
    705px 1846px #fff, 472px 744px #fff, 975px 1699px #fff, 229px 1444px #fff,
    1549px 1628px #fff, 1754px 194px #fff, 1392px 1256px #fff, 303px 1089px #fff,
    1004px 1701px #fff, 1304px 180px #fff, 1839px 969px #fff, 625px 1548px #fff,
    1834px 1573px #fff, 828px 688px #fff, 483px 18px #fff, 1411px 1184px #fff,
    1776px 910px #fff, 942px 1847px #fff, 374px 1024px #fff, 757px 209px #fff,
    339px 174px #fff, 1122px 413px #fff, 1748px 213px #fff, 724px 183px #fff,
    204px 554px #fff, 1546px 985px #fff, 921px 618px #fff, 498px 60px #fff,
    1740px 808px #fff, 942px 1429px #fff, 550px 1614px #fff, 1038px 1377px #fff,
    142px 122px #fff, 1805px 1711px #fff, 1980px 823px #fff, 897px 1905px #fff,
    1119px 267px #fff, 130px 253px #fff, 1273px 384px #fff, 1379px 1126px #fff,
    874px 1477px #fff, 1573px 463px #fff, 415px 1545px #fff, 1297px 630px #fff,
    81px 158px #fff, 1490px 225px #fff, 589px 1111px #fff, 1611px 875px #fff,
    923px 389px #fff, 142px 1488px #fff, 1151px 716px #fff, 1249px 1941px #fff,
    636px 1783px #fff, 1207px 143px #fff, 523px 411px #fff, 595px 934px #fff,
    544px 896px #fff, 733px 69px #fff, 253px 1192px #fff, 182px 381px #fff,
    915px 1650px #fff, 453px 947px #fff, 55px 187px #fff, 1733px 1488px #fff,
    1059px 913px #fff, 1499px 1144px #fff, 1372px 1671px #fff, 680px 1209px #fff,
    1904px 1237px #fff, 279px 1299px #fff, 452px 1810px #fff, 1481px 140px #fff,
    156px 1px #fff, 506px 814px #fff, 1292px 525px #fff, 642px 93px #fff,
    699px 1544px #fff, 19px 1743px #fff, 1253px 773px #fff, 1498px 1765px #fff,
    410px 1351px #fff, 1867px 1861px #fff, 135px 1364px #fff, 222px 850px #fff,
    1239px 223px #fff, 419px 1300px #fff, 997px 1435px #fff, 377px 1462px #fff,
    1497px 282px #fff, 1294px 755px #fff, 813px 1366px #fff, 1902px 1291px #fff,
    91px 899px #fff, 804px 45px #fff, 1077px 1208px #fff, 752px 318px #fff,
    1100px 319px #fff, 1568px 1570px #fff, 781px 1344px #fff, 1788px 656px #fff,
    959px 512px #fff, 1144px 1304px #fff, 16px 1157px #fff, 448px 1272px #fff,
    559px 1404px #fff, 1621px 1972px #fff, 1715px 35px #fff, 759px 1372px #fff,
    405px 1479px #fff, 1993px 1679px #fff, 1320px 606px #fff, 12px 1064px #fff,
    397px 1301px #fff, 179px 229px #fff, 1139px 1802px #fff, 224px 258px #fff,
    484px 1190px #fff, 1288px 1321px #fff, 895px 1331px #fff, 1024px 1411px #fff,
    1769px 1305px #fff, 1008px 160px #fff, 761px 450px #fff, 958px 1861px #fff,
    1158px 246px #fff, 431px 1878px #fff, 595px 1292px #fff, 542px 1904px #fff,
    587px 743px #fff, 1089px 987px #fff, 217px 1633px #fff, 339px 22px #fff,
    61px 1739px #fff, 1819px 1130px #fff, 1981px 369px #fff, 696px 1924px #fff,
    14px 587px #fff, 1739px 1599px #fff, 1359px 1731px #fff, 554px 1346px #fff,
    461px 290px #fff, 1893px 1389px #fff, 1472px 113px #fff, 189px 1107px #fff,
    192px 512px #fff, 1937px 949px #fff, 338px 1629px #fff, 1091px 1593px #fff,
    626px 426px #fff, 1804px 444px #fff, 1427px 294px #fff, 1889px 58px #fff,
    147px 1053px #fff, 1608px 857px #fff, 1631px 423px #fff, 635px 618px #fff,
    162px 1989px #fff, 980px 341px #fff, 115px 87px #fff, 257px 366px #fff,
    1899px 565px #fff, 1813px 1396px #fff, 932px 1113px #fff, 925px 953px #fff,
    1625px 192px #fff, 1301px 253px #fff, 437px 579px #fff, 469px 555px #fff,
    36px 732px #fff, 1109px 721px #fff, 847px 1888px #fff, 147px 1265px #fff,
    218px 791px #fff, 792px 1498px #fff, 1357px 1958px #fff, 499px 1481px #fff,
    418px 756px #fff, 1321px 932px #fff, 129px 1378px #fff, 87px 1723px #fff,
    1603px 479px #fff, 818px 1887px #fff, 406px 224px #fff, 1200px 1308px #fff,
    1448px 969px #fff, 1685px 569px #fff, 1035px 1355px #fff, 1023px 87px #fff,
    533px 301px #fff, 929px 1464px #fff, 791px 1619px #fff, 1405px 1431px #fff,
    1547px 1919px #fff, 608px 1192px #fff, 1454px 1123px #fff, 1274px 745px #fff,
    1794px 475px #fff, 1488px 121px #fff, 1468px 735px #fff, 1165px 915px #fff,
    4px 174px #fff, 1906px 452px #fff, 908px 1897px #fff, 319px 1936px #fff,
    1850px 314px #fff, 1692px 1959px #fff, 536px 1801px #fff, 577px 208px #fff,
    1368px 1180px #fff, 390px 1883px #fff, 542px 1522px #fff, 474px 330px #fff,
    1932px 1952px #fff, 906px 1874px #fff, 149px 1403px #fff, 544px 1152px #fff,
    1332px 338px #fff, 88px 349px #fff, 1410px 573px #fff, 99px 584px #fff,
    1112px 755px #fff, 966px 757px #fff, 1291px 1831px #fff, 140px 1053px #fff,
    1439px 68px #fff, 1081px 1487px #fff, 368px 1837px #fff, 1042px 323px #fff,
    1427px 138px #fff, 1028px 1715px #fff, 803px 277px #fff, 806px 1994px #fff,
    979px 305px #fff, 162px 1657px #fff, 1935px 1735px #fff, 555px 377px #fff,
    1624px 96px #fff, 1578px 1777px #fff, 774px 266px #fff, 23px 225px #fff,
    615px 1884px #fff, 1084px 482px #fff, 1990px 571px #fff, 1378px 416px #fff,
    491px 1153px #fff, 1272px 655px #fff, 1666px 869px #fff, 1685px 601px #fff,
    1256px 535px #fff, 1650px 1878px #fff, 1931px 81px #fff, 451px 1248px #fff,
    525px 1393px #fff, 695px 227px #fff, 1462px 961px #fff, 88px 1251px #fff,
    10px 1100px #fff, 487px 1878px #fff, 1093px 68px #fff, 812px 482px #fff,
    1944px 608px #fff, 1415px 944px #fff, 405px 1475px #fff, 707px 291px #fff,
    1509px 162px #fff, 515px 786px #fff, 1632px 1282px #fff, 644px 598px #fff,
    1621px 1252px #fff, 701px 719px #fff, 74px 169px #fff, 1962px 1622px #fff,
    1743px 746px #fff, 441px 1095px #fff, 124px 418px #fff, 576px 1055px #fff,
    1356px 1145px #fff, 1202px 1634px #fff, 231px 1763px #fff,
    1716px 1097px #fff, 1991px 333px #fff, 1502px 1942px #fff, 203px 251px #fff,
    915px 557px #fff, 1446px 906px #fff, 1360px 803px #fff, 896px 591px #fff,
    392px 1320px #fff, 739px 1303px #fff, 10px 410px #fff, 1675px 28px #fff,
    1016px 1642px #fff, 1101px 301px #fff, 253px 1118px #fff, 1238px 1740px #fff,
    1715px 1413px #fff, 1023px 602px #fff, 994px 375px #fff, 1832px 1594px #fff,
    1679px 1298px #fff, 1116px 1694px #fff, 208px 548px #fff, 518px 79px #fff,
    1640px 6px #fff, 350px 1146px #fff, 1252px 1635px #fff, 805px 796px #fff,
    1315px 198px #fff, 653px 1796px #fff, 1431px 364px #fff, 913px 975px #fff,
    1855px 213px #fff, 88px 833px #fff, 1434px 182px #fff, 1168px 742px #fff,
    1935px 889px #fff, 1921px 1814px #fff, 1760px 1053px #fff, 1470px 221px #fff,
    413px 1649px #fff, 1466px 459px #fff, 1728px 503px #fff, 86px 727px #fff,
    1800px 1080px #fff, 1380px 1486px #fff, 842px 1022px #fff, 1151px 257px #fff,
    1335px 1915px #fff, 1152px 1826px #fff, 839px 1713px #fff, 937px 245px #fff,
    1636px 650px #fff, 1914px 995px #fff, 1914px 1621px #fff, 688px 756px #fff,
    1726px 1996px #fff, 1362px 990px #fff, 1656px 367px #fff, 1744px 1000px #fff,
    265px 689px #fff, 1964px 704px #fff, 1092px 292px #fff, 1110px 681px #fff,
    838px 1315px #fff, 1237px 605px #fff, 1544px 1091px #fff, 1819px 78px #fff,
    103px 1673px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1942px 691px #fff, 252px 1891px #fff, 594px 1459px #fff,
    1966px 655px #fff, 1235px 1039px #fff, 1238px 1369px #fff, 904px 1432px #fff,
    1642px 1545px #fff, 60px 1976px #fff, 1680px 642px #fff, 1769px 1684px #fff,
    274px 1244px #fff, 193px 1804px #fff, 1502px 300px #fff, 1956px 76px #fff,
    1499px 437px #fff, 603px 1983px #fff, 1099px 1394px #fff, 571px 6px #fff,
    634px 1314px #fff, 794px 733px #fff, 1389px 127px #fff, 1065px 446px #fff,
    589px 441px #fff, 1473px 310px #fff, 1380px 1498px #fff, 628px 1749px #fff,
    510px 747px #fff, 1350px 968px #fff, 45px 148px #fff, 498px 1193px #fff,
    1863px 1168px #fff, 1343px 751px #fff, 1591px 1723px #fff, 726px 415px #fff,
    491px 368px #fff, 1769px 1925px #fff, 1523px 149px #fff, 720px 757px #fff,
    957px 751px #fff, 1554px 1216px #fff, 198px 1265px #fff, 907px 1644px #fff,
    1440px 1476px #fff, 1056px 1457px #fff, 988px 1060px #fff, 323px 1787px #fff,
    1861px 1786px #fff, 968px 1463px #fff, 450px 706px #fff, 1321px 1190px #fff,
    1682px 563px #fff, 1653px 1674px #fff, 480px 402px #fff, 326px 1913px #fff,
    912px 848px #fff, 1825px 1223px #fff, 927px 186px #fff, 1157px 1598px #fff,
    1946px 905px #fff, 1378px 832px #fff, 1430px 1706px #fff, 1498px 169px #fff,
    1220px 1987px #fff, 856px 1114px #fff, 616px 275px #fff, 920px 1070px #fff,
    1110px 814px #fff, 1596px 499px #fff, 1813px 1915px #fff, 1880px 616px #fff,
    1519px 302px #fff, 452px 1030px #fff, 1968px 1164px #fff, 985px 284px #fff,
    986px 1652px #fff, 1170px 465px #fff, 1656px 953px #fff, 602px 354px #fff,
    814px 597px #fff, 1522px 1677px #fff, 1426px 1882px #fff, 835px 1670px #fff,
    1554px 557px #fff, 820px 1412px #fff, 45px 101px #fff, 1294px 621px #fff,
    898px 221px #fff, 1079px 976px #fff, 210px 1922px #fff, 468px 1px #fff,
    1614px 1784px #fff, 754px 713px #fff, 1837px 960px #fff, 1357px 1395px #fff,
    443px 364px #fff, 260px 316px #fff, 1422px 1328px #fff, 1392px 1634px #fff,
    1447px 1870px #fff, 50px 500px #fff, 327px 1085px #fff, 1775px 170px #fff,
    947px 1235px #fff, 1587px 1734px #fff, 305px 427px #fff, 856px 1229px #fff,
    1322px 1981px #fff, 662px 1980px #fff, 101px 927px #fff, 834px 875px #fff,
    631px 1052px #fff, 763px 1623px #fff, 1044px 1556px #fff, 1820px 454px #fff,
    1721px 1988px #fff, 1887px 1928px #fff, 795px 1699px #fff, 758px 821px #fff,
    1568px 243px #fff, 614px 1847px #fff, 102px 10px #fff, 888px 141px #fff,
    77px 1700px #fff, 28px 1734px #fff, 1923px 31px #fff, 1000px 55px #fff,
    30px 1209px #fff, 1735px 6px #fff, 1040px 1824px #fff, 667px 1594px #fff,
    1843px 568px #fff, 1802px 1156px #fff, 1341px 172px #fff, 68px 386px #fff,
    1027px 810px #fff, 418px 262px #fff, 900px 333px #fff, 273px 470px #fff,
    1995px 1107px #fff, 881px 201px #fff, 1601px 369px #fff, 119px 199px #fff,
    1607px 1998px #fff, 890px 225px #fff, 680px 558px #fff, 270px 581px #fff,
    652px 1816px #fff, 1274px 1059px #fff, 1444px 1255px #fff, 580px 827px #fff,
    1845px 1751px #fff, 1272px 1261px #fff, 186px 937px #fff, 68px 1560px #fff,
    220px 1001px #fff, 112px 224px #fff, 314px 810px #fff, 463px 1339px #fff,
    1776px 1893px #fff, 1519px 369px #fff, 127px 1786px #fff, 242px 1727px #fff,
    808px 1916px #fff, 583px 907px #fff, 408px 1917px #fff, 106px 1554px #fff,
    974px 960px #fff, 1960px 789px #fff, 1244px 154px #fff, 112px 1410px #fff,
    795px 1075px #fff, 101px 554px #fff, 1070px 860px #fff, 1465px 458px #fff,
    927px 336px #fff, 326px 1756px #fff, 429px 1677px #fff, 414px 829px #fff,
    1480px 419px #fff, 866px 1735px #fff, 1328px 1843px #fff, 752px 43px #fff,
    993px 1397px #fff, 1617px 1335px #fff, 1172px 35px #fff, 1487px 1866px #fff,
    1346px 1380px #fff, 748px 1108px #fff, 343px 1552px #fff, 1187px 1034px #fff,
    287px 423px #fff, 757px 796px #fff, 1117px 1105px #fff, 166px 73px #fff,
    1802px 895px #fff, 330px 267px #fff, 1466px 1930px #fff, 474px 348px #fff,
    1942px 450px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1942px 691px #fff, 252px 1891px #fff, 594px 1459px #fff,
    1966px 655px #fff, 1235px 1039px #fff, 1238px 1369px #fff, 904px 1432px #fff,
    1642px 1545px #fff, 60px 1976px #fff, 1680px 642px #fff, 1769px 1684px #fff,
    274px 1244px #fff, 193px 1804px #fff, 1502px 300px #fff, 1956px 76px #fff,
    1499px 437px #fff, 603px 1983px #fff, 1099px 1394px #fff, 571px 6px #fff,
    634px 1314px #fff, 794px 733px #fff, 1389px 127px #fff, 1065px 446px #fff,
    589px 441px #fff, 1473px 310px #fff, 1380px 1498px #fff, 628px 1749px #fff,
    510px 747px #fff, 1350px 968px #fff, 45px 148px #fff, 498px 1193px #fff,
    1863px 1168px #fff, 1343px 751px #fff, 1591px 1723px #fff, 726px 415px #fff,
    491px 368px #fff, 1769px 1925px #fff, 1523px 149px #fff, 720px 757px #fff,
    957px 751px #fff, 1554px 1216px #fff, 198px 1265px #fff, 907px 1644px #fff,
    1440px 1476px #fff, 1056px 1457px #fff, 988px 1060px #fff, 323px 1787px #fff,
    1861px 1786px #fff, 968px 1463px #fff, 450px 706px #fff, 1321px 1190px #fff,
    1682px 563px #fff, 1653px 1674px #fff, 480px 402px #fff, 326px 1913px #fff,
    912px 848px #fff, 1825px 1223px #fff, 927px 186px #fff, 1157px 1598px #fff,
    1946px 905px #fff, 1378px 832px #fff, 1430px 1706px #fff, 1498px 169px #fff,
    1220px 1987px #fff, 856px 1114px #fff, 616px 275px #fff, 920px 1070px #fff,
    1110px 814px #fff, 1596px 499px #fff, 1813px 1915px #fff, 1880px 616px #fff,
    1519px 302px #fff, 452px 1030px #fff, 1968px 1164px #fff, 985px 284px #fff,
    986px 1652px #fff, 1170px 465px #fff, 1656px 953px #fff, 602px 354px #fff,
    814px 597px #fff, 1522px 1677px #fff, 1426px 1882px #fff, 835px 1670px #fff,
    1554px 557px #fff, 820px 1412px #fff, 45px 101px #fff, 1294px 621px #fff,
    898px 221px #fff, 1079px 976px #fff, 210px 1922px #fff, 468px 1px #fff,
    1614px 1784px #fff, 754px 713px #fff, 1837px 960px #fff, 1357px 1395px #fff,
    443px 364px #fff, 260px 316px #fff, 1422px 1328px #fff, 1392px 1634px #fff,
    1447px 1870px #fff, 50px 500px #fff, 327px 1085px #fff, 1775px 170px #fff,
    947px 1235px #fff, 1587px 1734px #fff, 305px 427px #fff, 856px 1229px #fff,
    1322px 1981px #fff, 662px 1980px #fff, 101px 927px #fff, 834px 875px #fff,
    631px 1052px #fff, 763px 1623px #fff, 1044px 1556px #fff, 1820px 454px #fff,
    1721px 1988px #fff, 1887px 1928px #fff, 795px 1699px #fff, 758px 821px #fff,
    1568px 243px #fff, 614px 1847px #fff, 102px 10px #fff, 888px 141px #fff,
    77px 1700px #fff, 28px 1734px #fff, 1923px 31px #fff, 1000px 55px #fff,
    30px 1209px #fff, 1735px 6px #fff, 1040px 1824px #fff, 667px 1594px #fff,
    1843px 568px #fff, 1802px 1156px #fff, 1341px 172px #fff, 68px 386px #fff,
    1027px 810px #fff, 418px 262px #fff, 900px 333px #fff, 273px 470px #fff,
    1995px 1107px #fff, 881px 201px #fff, 1601px 369px #fff, 119px 199px #fff,
    1607px 1998px #fff, 890px 225px #fff, 680px 558px #fff, 270px 581px #fff,
    652px 1816px #fff, 1274px 1059px #fff, 1444px 1255px #fff, 580px 827px #fff,
    1845px 1751px #fff, 1272px 1261px #fff, 186px 937px #fff, 68px 1560px #fff,
    220px 1001px #fff, 112px 224px #fff, 314px 810px #fff, 463px 1339px #fff,
    1776px 1893px #fff, 1519px 369px #fff, 127px 1786px #fff, 242px 1727px #fff,
    808px 1916px #fff, 583px 907px #fff, 408px 1917px #fff, 106px 1554px #fff,
    974px 960px #fff, 1960px 789px #fff, 1244px 154px #fff, 112px 1410px #fff,
    795px 1075px #fff, 101px 554px #fff, 1070px 860px #fff, 1465px 458px #fff,
    927px 336px #fff, 326px 1756px #fff, 429px 1677px #fff, 414px 829px #fff,
    1480px 419px #fff, 866px 1735px #fff, 1328px 1843px #fff, 752px 43px #fff,
    993px 1397px #fff, 1617px 1335px #fff, 1172px 35px #fff, 1487px 1866px #fff,
    1346px 1380px #fff, 748px 1108px #fff, 343px 1552px #fff, 1187px 1034px #fff,
    287px 423px #fff, 757px 796px #fff, 1117px 1105px #fff, 166px 73px #fff,
    1802px 895px #fff, 330px 267px #fff, 1466px 1930px #fff, 474px 348px #fff,
    1942px 450px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 1231px #fff, 1457px 1921px #fff, 455px 1964px #fff,
    436px 118px #fff, 1702px 1881px #fff, 310px 1202px #fff, 1090px 897px #fff,
    776px 557px #fff, 148px 796px #fff, 1206px 1734px #fff, 726px 723px #fff,
    1862px 687px #fff, 1354px 222px #fff, 908px 258px #fff, 1315px 1651px #fff,
    925px 102px #fff, 414px 1365px #fff, 768px 489px #fff, 612px 1067px #fff,
    979px 481px #fff, 1369px 1129px #fff, 143px 536px #fff, 626px 1681px #fff,
    1880px 1075px #fff, 1433px 134px #fff, 257px 157px #fff, 360px 1356px #fff,
    87px 557px #fff, 944px 1154px #fff, 1887px 1548px #fff, 614px 146px #fff,
    1258px 1399px #fff, 534px 1520px #fff, 1926px 126px #fff, 320px 1459px #fff,
    1252px 782px #fff, 1044px 974px #fff, 1766px 947px #fff, 532px 1552px #fff,
    1559px 1209px #fff, 323px 456px #fff, 228px 580px #fff, 1314px 768px #fff,
    740px 1791px #fff, 1061px 838px #fff, 582px 621px #fff, 1591px 771px #fff,
    239px 1390px #fff, 1566px 1080px #fff, 134px 659px #fff, 1440px 254px #fff,
    1116px 557px #fff, 160px 1396px #fff, 1063px 682px #fff, 1125px 67px #fff,
    556px 878px #fff, 87px 1103px #fff, 1902px 950px #fff, 34px 1246px #fff,
    1899px 1493px #fff, 1878px 1869px #fff, 917px 1562px #fff, 986px 820px #fff,
    1178px 1489px #fff, 907px 1609px #fff, 1567px 1193px #fff,
    1648px 1727px #fff, 148px 1954px #fff, 439px 1288px #fff, 1870px 1015px #fff,
    356px 1004px #fff, 1767px 1507px #fff, 972px 1968px #fff, 575px 333px #fff,
    92px 206px #fff, 558px 589px #fff, 314px 1481px #fff, 399px 1925px #fff,
    248px 491px #fff, 728px 1210px #fff, 149px 1932px #fff, 432px 862px #fff,
    1037px 1103px #fff, 100px 86px #fff, 1838px 1565px #fff, 1359px 379px #fff,
    441px 1379px #fff, 1534px 396px #fff, 1457px 1763px #fff, 447px 1460px #fff,
    1322px 956px #fff, 1204px 541px #fff, 1323px 1069px #fff, 1715px 1360px #fff,
    914px 1499px #fff, 602px 1952px #fff, 1733px 1763px #fff, 835px 1607px #fff,
    293px 754px #fff, 55px 1400px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1209px 1231px #fff, 1457px 1921px #fff, 455px 1964px #fff,
    436px 118px #fff, 1702px 1881px #fff, 310px 1202px #fff, 1090px 897px #fff,
    776px 557px #fff, 148px 796px #fff, 1206px 1734px #fff, 726px 723px #fff,
    1862px 687px #fff, 1354px 222px #fff, 908px 258px #fff, 1315px 1651px #fff,
    925px 102px #fff, 414px 1365px #fff, 768px 489px #fff, 612px 1067px #fff,
    979px 481px #fff, 1369px 1129px #fff, 143px 536px #fff, 626px 1681px #fff,
    1880px 1075px #fff, 1433px 134px #fff, 257px 157px #fff, 360px 1356px #fff,
    87px 557px #fff, 944px 1154px #fff, 1887px 1548px #fff, 614px 146px #fff,
    1258px 1399px #fff, 534px 1520px #fff, 1926px 126px #fff, 320px 1459px #fff,
    1252px 782px #fff, 1044px 974px #fff, 1766px 947px #fff, 532px 1552px #fff,
    1559px 1209px #fff, 323px 456px #fff, 228px 580px #fff, 1314px 768px #fff,
    740px 1791px #fff, 1061px 838px #fff, 582px 621px #fff, 1591px 771px #fff,
    239px 1390px #fff, 1566px 1080px #fff, 134px 659px #fff, 1440px 254px #fff,
    1116px 557px #fff, 160px 1396px #fff, 1063px 682px #fff, 1125px 67px #fff,
    556px 878px #fff, 87px 1103px #fff, 1902px 950px #fff, 34px 1246px #fff,
    1899px 1493px #fff, 1878px 1869px #fff, 917px 1562px #fff, 986px 820px #fff,
    1178px 1489px #fff, 907px 1609px #fff, 1567px 1193px #fff,
    1648px 1727px #fff, 148px 1954px #fff, 439px 1288px #fff, 1870px 1015px #fff,
    356px 1004px #fff, 1767px 1507px #fff, 972px 1968px #fff, 575px 333px #fff,
    92px 206px #fff, 558px 589px #fff, 314px 1481px #fff, 399px 1925px #fff,
    248px 491px #fff, 728px 1210px #fff, 149px 1932px #fff, 432px 862px #fff,
    1037px 1103px #fff, 100px 86px #fff, 1838px 1565px #fff, 1359px 379px #fff,
    441px 1379px #fff, 1534px 396px #fff, 1457px 1763px #fff, 447px 1460px #fff,
    1322px 956px #fff, 1204px 541px #fff, 1323px 1069px #fff, 1715px 1360px #fff,
    914px 1499px #fff, 602px 1952px #fff, 1733px 1763px #fff, 835px 1607px #fff,
    293px 754px #fff, 55px 1400px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
